*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: rgb(226, 105, 176);*/
    color: wheat;
    /*font-family: 'Indie Flower', cursive;
    font-family: 'Ms Madi', cursive;
    /*font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;*/

}

header ul{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
    display: flex;
    margin: 10;

}

a{
    text-decoration: none;
}

body{
    /*background: url(img/background-games-apps-mobile-development-cartoon-nature-landscape-forest-mountains-vector-illustration-your-82873966.jpg) no-repeat center center fixed;
    background-size: cover;*/
    /*background: url(img/istockphoto-1214012320-170667a.jpg) no-repeat center center fixed;
    background-size: cover;*/
    background: url(img/sunrise.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 70px;
}

header h5{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
    margin-left: 5px;
}

header ul li{
    padding: 20px;
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color: darkslateblue;
}

.container{
    text-align: center;
}


.container h3 {
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
   /* color: palevioletred;*/
    color: darkslateblue;
    
    
}

.container h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: darkslateblue;
    margin-top: 10px;
    margin-bottom: 15px;

}

.container #about p{
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: darkslateblue;
}

#arrow{
    font-size: 40px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;

}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation{
    animation: blink 1s steps(5, start) infinite;
    transition: 500ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

footer{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;	
}

footer .sobre h3{
    font-size: larger;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

footer .sobre ul {
    display: flex;
    list-style: none;
    font-size: medium;
    display: flex;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}



